html, body{
  height: 100%;
  overflow-x:hidden;
}





.signout{
  position:inherit;
  align-items: center;
  position: static;
}
#demo{
  text-align: center;
  background-color: black;
  color: white;
  width: 150px;
  display: inline-block;
  line-height: 400%;
  font-size: 1em;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  position: relative;
  text-transform: uppercase;
}
#demo:hover{
  box-shadow: 0 0 0 0;
}
.clock{
position: center;
}

a{
  color: black;
}

.navbar-inverse{
    background-color: white;
    display: none;
    padding: 0.3145;
    border: none;
    width: 100%;
    height: 2.1875rem;
}

.ghjk{
  padding-left: 2.5rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
.main{
  text-align: center;
  height: auto;
  box-shadow:  0 0 15px 0 black;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  background-color: white;
}

.main1{
  text-align: center;
  height: auto;
  box-shadow:  0 0 15px 0 black;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  background-color: white;
}
p{
  margin: 2.5rem;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.share {
  position: relative;
  text-align: center;
}

.share a {
  background: white;
  border: 1px solid black;
  border-radius: 100px;
  color: black;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.share a:hover {
  background: black;
  border: 1px solid black;
  color: white;
}
.sgn{
  position: relative;
  text-align: center;
}

.sgn a {
  background: white;
  border: 1px solid black;
  border-radius: 100px;
  color: black;
  display: inline-block;
  text-decoration: none;
}

.sgn a:hover {
  background: black;
  border: 1px solid black;
  color: white;
}

#first{
  display: none;
}
#last{
  display: none;
}
#qwer{
  display: none;
}

#myidname{
  display: none;
}

.tyui{
  display: inline;
}
.container {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}


.a{
  text-align: right;
}
.b{
  text-align: center;
}



body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 13%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.mobile {display: none;}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media(max-width:535px){
  .laptop {display: none;}
  .mobile {display: inline;}
}
